.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #FFF;
  text-decoration: none;
}

a.link--primary {
  color: #007FFF;
  text-decoration: none;
}

header {
  margin-bottom: 50px;
}

.nav ul {
  display: flex;
  gap: 20px
}

.profile-button {
  display: flex;
  gap: 6px
}